[Desktop Entry]
Version=1.0
Type=Application
Name=FreeNono
Comment=Open-source implementation of the Nonogram game
TryExec=freenono
Exec=freenono
Icon="/usr/share/pixmaps/freenono.xpm"
Categories=Game;LogicGame;Java
