Source: freenono
Section: games
Priority: optional
Maintainer: Christian Wichmann <christian@freenono.org>
Build-Depends:
 debhelper (>= 12),
 default-jdk,
 javahelper,
 ant,
 git,
 imagemagick,
 libvorbisspi-java,
 libtritonus-java,
 libcore-renderer-java,
 liblog4j1.2-java,
 libjinput-java
Standards-Version: 4.5.0
Homepage: http://www.freenono.org/
Vcs-Browser: https://github.com/prometheus42/FreeNono
Vcs-Git: https://github.com/prometheus42/FreeNono.git

Package: freenono
Architecture: all
Depends:
 default-jre,
 ${java:Depends},
 ${misc:Depends},
 freenono-data (>= ${source:Upstream-Version})
Recommends: ${java:Recommends}
Description: Open-source implementation of the Nonogram game
 FreeNono is a logic puzzle in which cells in a grid have to be colored
 or left blank according to numbers given at the side of the grid to reveal
 a hidden picture.
 
Package: freenono-data
Architecture: all
Depends: ${misc:Depends}
Recommends: freenono
Description: Data files for FreeNono
 This package contains nonogram puzzles for the FreeNono package.
